<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Información Personal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Información Personal</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card-title class="ion-text-center">Curriculum Vitae</ion-card-title>
  <img class=" circle-photo" src="assets/img/1.jpeg">

  <ion-card>
    <ion-list>
      <div *ngFor="let item of data">
        <ion-item>
          <ion-card-content>
            <h6 align="center">
              <ion-icon name="person-outline"></ion-icon>
              Nombres: {{item.nombres}}
            </h6>
          </ion-card-content>
        </ion-item>

        <ion-item>
          <ion-card-content>
            <h6 align="center">
              <ion-icon name="finger-print-outline"></ion-icon>
              Cedula: {{item.cedula}}
            </h6>
          </ion-card-content>
        </ion-item>

        <ion-item>
          <ion-card-content>
            <h6 align="center">
              <ion-icon name="globe-outline"></ion-icon>
              Nacionalidad: {{item.nacionalidad}}
            </h6>
          </ion-card-content>
        </ion-item>

        <ion-item>
          <ion-card-content>
            <h6 align="center">
              <ion-icon name="alarm-outline"></ion-icon>
              Edad: {{item.edad}}
            </h6>
          </ion-card-content>
        </ion-item>

        <ion-item>
          <ion-card-content>
            <h6 align="center">
              <ion-icon name="mail-open-outline"></ion-icon>
              Correo electronico: {{item.correo}}
            </h6>
          </ion-card-content>
        </ion-item>

        <ion-item>
          <ion-card-content>
            <h6 align="center">
              <ion-icon name="phone-portrait-outline"></ion-icon>
              Celular: {{item.celular}}
            </h6>
          </ion-card-content>
        </ion-item>

      </div>
    </ion-list>
  </ion-card>


</ion-content>




